<nav class="container-navbar">
  <div class="nav-container"> 
    <button class="hamburger" (click)="toggleMenu()">
      ☰
    </button>
    <ul class="nav nav-tabs" [class.open]="menuOpen">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/loan']" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        Solicitar préstamo
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="loan/list-loan" routerLinkActive="active">
        Préstamos pendientes
      </a>
    </li>
  </ul>
  </div>
  <div class="bank-status">
    <app-bank></app-bank>
  </div>
</nav>