.loan-table-card {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.bank-image {
  margin-top: 10px;
  width: 60px;
  height: 60px;
  margin: 10px auto;
  display: block;
  margin-bottom: 15px;
}
